[submodule "libraries/io6Library"]
	path = libraries/io6Library
	url = https://github.com/theoim/io6Library.git
[submodule "libraries/mbedtls"]
	path = libraries/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "libraries/pico-sdk"]
	path = libraries/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
